<!DOCTYPE html>
<html>
<head>
    <title>Create New User</title>
</head>
<body>
<h1>Create a New User</h1>

{{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">Create User</button>
{{ form_end(form) }}

</body>
</html>
