<!DOCTYPE html>
<html>
<head>
    <title>Create Database Table</title>
</head>
<body>
<h1>Créer la table User (Doctrine)</h1>

{% if message %}
    <p>{{ message }}</p>
{% endif %}

<form method="post">
    <button type="submit">Créer la table</button>
</form>

</body>
</html>
