<!DOCTYPE html>
<html>
<head>
    <title>Create Database Table</title>
</head>
<body>
<h1>Create the 'users' Table</h1>
<a href="{{ path('create_table_orm') }}">Create Table using ORM</a>
</body>
</html>
